body{
    background-color: lightgrey;
}

img{
    width: 300px;
    display: block;
    margin: 0 auto;
}
section{
    margin:auto; 
    justify-content: center;
    background-color: lightcoral;
    border: 10px;
    width: 500px;
}

h1, h2{

    font-size: 40px;
    font-family: Impact;
    color: black;
    text-align: center;
}

ul, ol{
    text-align: center;
    justify-content: center;
}
li{
    margin-top: 10px;
    margin-bottom: 10px;
    
}

footer{
    text-align: center;
   background-color: lightcoral;
   color:black; 
   padding: 10px; 
   border-top: 1px solid white; 
   position: fixed;
   bottom: 0; 
   width: 100%;
   font-size: 20px;
   
}